apps/website/config/monitoring/n8n-form-notification-workflow.json
{
  "name": "MHC Form Notification Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "form-notification",
        "options": {
          "responseMode": "lastNode"
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook - Form Submission",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "form-notification"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.data.email || 'matt@mhc-gc.com' }}",
        "subject": "=New {{ $json.type }} Form Submission",
        "message": "=New form submission received:\n\nType: {{ $json.type }}\nSubmitted: {{ $json.data.submittedAt || $now }}\n\nDetails:\n{{ JSON.stringify($json.data, null, 2) }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "send-email",
      "name": "Send Email via Resend",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [480, 300],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "Resend SMTP"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "message",
              "value": "Notification sent"
            }
          ]
        },
        "options": {}
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook - Form Submission": {
      "main": [
        [
          {
            "node": "Send Email via Resend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email via Resend": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "instanceId": "mhc-website"
  },
  "tags": [
    {
      "name": "production"
    },
    {
      "name": "forms"
    }
  ],
  "_comment": "Simplified workflow: Webhook → Send Email via Resend SMTP → Success Response. Credential 'Resend SMTP' configured with smtp.resend.com:465, TLS, username 'resend', password is Resend API key."
}
